.container {
  
  .seriesContainer {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &-webkit-scrollbar {
      display: none;
    }
  }
}
