.container {
  
  .seriesContainer {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &-webkit-scrollbar {
      display: none;
    }
  }
  h1{
    font-family: var(--font);
    width: 100%;
    text-transform: uppercase;
    padding: 20px;
    span{
      color: #ff0000
    } 
    &.right{
      text-align: end;
    }
  }
}
