@font-face {
  font-family: ProtestRevolution;
  src: url("@/assets/fonts/ProtestRevolution.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.container {
  width: fit-content;
  background-color: var(--background);
  padding: 1rem;

  h1 {
    font-size: 3rem;
    color: var(--foreground);
    transform: scale(1, 1.3);
    font-family: "ProtestRevolution";

    span {
      color: red;
    }
  }
}
