.container {
  width: fit-content;
  background-color: var(--background);
  padding: 1rem;
  margin-bottom: 1rem;

  h1 {
    font-size: 3rem;
    color: var(--foreground);
    transform: scale(1, 1.3);
    font-family: var(--font);
    cursor: default;
    user-select: none;

    span {
      color: red;
    }
  }
}
